@import "variables";

.flex-scroll {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 120px;

  @media (max-width: $break-point) {
    overflow: hidden;
  }
}

.flex-container {
  display: flex;
  position: fixed;
  justify-content: center;
  align-items: stretch;
  height: 100%;

  @media (max-width: $break-point) {
    width: 300%;
  }

  @media (min-width: $break-point) {
    width: 100%;
    left: 0!important;
  }

  .flex-column {
    position: relative;
    flex: 1 0 0;
    min-width: 200px;
    min-height: 100%;
    border-right: 1px solid $dark;

    &.cards {
      @media (min-width: $break-point) {
        flex: 2 0 0;
      }
    }

    .back {
      position: absolute;
      left: 10px;
      padding-left: 8px;
      cursor: pointer;

      @media (min-width: $break-point) {
        display: none;
      }
    }

    h2 {
      border-bottom: 1px solid $dark;
      margin: 0;
      padding: 10px;
    }
  }
}

.miller-column {
  width: 100%;
  margin: 0;
  overflow: scroll;
  position: absolute;
  top: 50px;
  bottom: 0;
  padding-bottom: 120px;

  li {
    position: relative;
    text-align: left;
    padding: 10px 20px 10px 10px;
    border-bottom: 1px solid $light;
    cursor: pointer;
    list-style-position: inside;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    &.active {
      background: $light;
    }

    .chevron {
      position: absolute;
      right: 0;
      font-weight: bold;
    }
  }
}
