@import "variables";

@media print {
  html, body {
    height: auto;
  }

  .web {
    display: none;
  }

  .print {
    input {
      display: none;
    }

    ul li {
      padding: 40px 0;
      border-bottom: 1px dashed $dark;
      page-break-inside: avoid;

      &:last-child {
        page-break-after: auto;
      }

      .content {
        width: 80%;
        margin: 0 auto;
      }

      .name {
        font-size: 24px;
        font-weight: bold;
      }

      .description {
        font-size: 1em;
        line-height: 1em;
        max-height: 2em;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }
}

@media screen {
  .print {
    display: none;
  }
}
