@import "variables";

@media print {
  html, body {
    height: auto;
  }

  .web {
    display: none;
  }

  .print {
    input {
      display: none;
    }

    ul {
      display: flex;
      flex-wrap: wrap;
      margin: 0 auto;
    }

    ul li {
      display: flex;
      flex-direction: column;
      page-break-inside: avoid;
      width: 100%;

      &:last-child {
        page-break-after: auto;
      }

      .wrapper {
        flex-grow: 1;
        border-bottom: 1px dashed $dark;
        padding: 50px 0 20px 0;
        width: 100%;
        height: 100%;
      }

      .content {
        width: 80%;
        margin: 0 auto;
      }

      .name {
        font-size: 24px;
        font-weight: bold;
        margin: 0;
      }

      .description {
        font-size: 1em;
        line-height: 1em;
        max-height: 2em;
        overflow: hidden;
        text-overflow: ellipsis;
        margin: 10px 0 0 0;

        &:empty {
          display: none;
        }
      }
    }

    ul.two-columns li {
      float: left;
      width: 50%;
      &:nth-child(odd) .wrapper {
        border-right: 1px dashed $dark;
      }
    }

    ul.three-columns li {
      float: left;
      width: 33.3%;
      .wrapper {
        border-right: 1px dashed $dark;
      }
      &:nth-child(3n+3) .wrapper {
        border-right: none;
      }
    }
  }
}

@media screen {
  .print {
    display: none;
  }
}
